button,
input[type="submit"] {
  @extend %button;
  @include appearance(none);
  @include transition(all 0.2s ease);
  
  border: none;
  cursor: pointer;
  user-select: none;
  vertical-align: middle;
  white-space: nowrap;
}
