ul {
  list-style-type: disc;
  padding-left: $base-spacing;
}

ol {
  list-style-type: decimal;
  padding-left: $base-spacing;
}

dl {
  margin-bottom: $base-spacing / 2;

  dt {
    font-weight: bold;
    margin-top: $base-spacing / 2;
  }

  dd {
    margin: 0;
  }
}
