.author-bio-card {
  img {
    @include transition(all 0.2s ease);

    border: 5px solid $rose-pink;
    border-radius: 50%;
    float: left;
    margin-right: $base-spacing;

    &:hover {
      border: 3px solid darken($rose-pink, 5);
    }
  }
}
