img {
  height: auto;
  max-width: 100%;
}

.alignleft {
  display: inline;
  float: left;
  margin-right: $base-spacing;
}

.alignright {
  display: inline;
  float: right;
  margin-left: $base-spacing;
}

.aligncenter {
  display: block;
  margin: 0 auto;
}

.wp-caption {
  background: darken($base-background-color, 5);
  box-shadow: 2px 2px 6px 0px rgba(50, 50, 50, 0.33);
  max-width: 100%;
  margin-bottom: $base-spacing / 3;

  img {
    max-width: 98%;
    margin: 5px 1% 0 1%;
  }

  .wp-caption-text {
    @include adjust-font-size(em(14));

    font-style: italic;
    padding: ($base-spacing / 4) ($base-spacing / 3) ($base-spacing / 3) 0;
    text-align: right;
  }
}

.gallery-item {
  text-align: center;

  .wp-caption-text {
    @include adjust-font-size(em(14));

    font-style: italic;
    padding: 0 ($base-spacing / 3) ($base-spacing / 3) 0;
  }
}

.gallery {
  margin-bottom: $base-spacing;
}

.gallery-item {
  display: inline-block;
  text-align: center;
  vertical-align: top;
  width: 100%;

  .gallery-columns-2 & {
    max-width: 50%;
  }

  .gallery-columns-3 & {
    max-width: 33.33%;
  }

  .gallery-columns-4 & {
    max-width: 25%;
  }

  .gallery-columns-5 & {
    max-width: 20%;
  }

  .gallery-columns-6 & {
    max-width: 16.66%;
  }

  .gallery-columns-7 & {
    max-width: 14.28%;
  }

  .gallery-columns-8 & {
    max-width: 12.5%;
  }

  .gallery-columns-9 & {
    max-width: 11.11%;
  }
}

.gallery-caption {
  display: block;
}
